<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CafeDB"
			 connectionString="Data Source=DESKTOP-VV5TSUE\SQLEXPRESS;Initial Catalog=CafeDB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Command Timeout=0"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>